.doctor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid black;
    margin: 20px 0px;
    padding: 20px 0px;
}
.doctor-images{
    display: flex;
    justify-content: center;
    align-items: center;
}
.doctor img{
    width: 200px;
    height: 200px;
}
.visitBtn{
    background-color: crimson;
    padding: 5px 30px;
    border: 0;
    border-radius: 5px;
}
.doctor .visitBtn a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}