.doctor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #1A1A1D;
    border: 0;
    border-radius: 5px;
    margin: 20px 0px;
    padding: 20px 0px;
}
.doctor-images{
    display: flex;
    justify-content: center;
    align-items: center;
}
.doctor img{
    width: 200px;
    height: 200px;
    border: 0;
    border-radius: 10px;
}
.visitBtn{
    background-color: #9A1750;
    padding: 5px 30px;
    border: 0;
    border-radius: 5px;
}
.doctor .visitBtn a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.doctor-details h1{
    font-size: 25px;
    font-weight: bold;
    color: #EDF5E1;

}
.doctor-details h4{
    font-size: 22px;
    font-weight: 600;
    color: #EDF5E1;
}
.doctor-details b{
    color: #EDF5E1;
}
.doctor-details p{
    color: #9A1750;
    font-weight: 600;
}