.banner-container{
    background-image: url('../../images/Banner/banner-pic.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-searchBtn{
    text-align: center;
}